body{
    width: 100%;
    background: #E7EBF0;
    height: 100%;
    margin: 0;
    padding: 0;
    
}
h1{
    color: white;
    font-family: Tahoma, sans-serif, Arial, Helvetica;
    font-weight: normal;
    font-size: 14.5px;
    position: absolute;
    top:123px;
    left:545px;
}
input[type=submit] {
    background-color: #5682a3 ;
    border: none;
    color: white;
    position: absolute;
    font-family: Tahoma, sans-serif, Arial, Helvetica;
    font-weight: bold;
    top:135px;  
    left:830px;
}
h3{
    font-family:"Lucida Grande","Lucida Sans Unicode",Arial,Helvetica,Verdana,sans-serif;
    font-weight: bold;
    font-size:15.5px;
    position: absolute;
    top:195px;
    left:545px
}
p{
    font-family: Tahoma, sans-serif, Arial, Helvetica;
    font-size: 13px;
    position: absolute;
    top:240px;
    left:545px;
    color: gray;
    opacity: 0.8;
    line-height: 1.7em;
}
.countryLabel{
    font-family: Tahoma, sans-serif, Arial, Helvetica;
    font-size: 12.5px;
    position: absolute;
    top:330px;
    left:545px;
    opacity: 0.5;
}
#country{
    position: absolute;
    top:350px;
    left:545px;
    opacity: 0.8;
}
#code{
    position: absolute;
    top:427px;
    left:545px;
    opacity: 0.8;
    width: 50px;
}
.codeLabel{
    font-family: Tahoma, sans-serif, Arial, Helvetica;
    font-size: 12.5px;
    position: absolute;
    top:395px;
    left:545px;
    opacity: 0.5;
}
#number{
    position: absolute;
    display:inline-block;
    top:427px;
    left:625px;
    opacity: 0.8;
}
.numberLabel{
    font-family: Tahoma, sans-serif, Arial, Helvetica;
    font-size: 12.5px;
    position: absolute;
    top:395px;
    left:625px;
    opacity: 0.5;
}
input[type=text]{
    border: none;
    border-bottom: 0.5px solid rgb(182, 182, 182);
}
h4{
    color:#5682a3 ;
    font-family: Tahoma, sans-serif, Arial, Helvetica;
    font-weight: bold;
    font-size: 13px;
    position: absolute;
    top:545px;
    left:645px;
}
h6{
    color:#6d889c ;
    font-family: Tahoma, sans-serif, Arial, Helvetica;
    font-size: 12px;
    position: absolute;
    top:510px;
    left:545px;
    opacity: 0.6;
}
#img1{
    width: 410px;
    height: 340px;
    position: absolute;
    top:170px;
    left:480px;
}
#img2{
    width: 100%;
    height: 230px;
    margin:0;
    padding:0;
}
#img3{
    width: 40px;
    height: 55px;
    margin:0;
    padding:0;
    position: absolute;
    top:113px;
    left:490px;
}